body {

  margin: 0;

  height: 100vh;

  background: linear-gradient(135deg, #0055FF , #CDEBFF);

  display: flex;
  
  justify-content: center;

  align-items: center;

  font-family: 'Georgia', serif;

}

.container {

  position: relative;

}

.envelope {

  width: 350px;

  height: 250px;

  background: #fff;
  
  border: 2px solid #000000;

  border-radius: 12px;

  position: relative;

  box-shadow: 0 15px 30px rgba(0,0,0,0.25);

  overflow: hidden;

}

.flap {

  position: absolute;

  top: 0;

  width: 100%;

  height: 100%;

  background: #1E3A8A;

  clip-path: polygon(0 0, 50% 55%, 100% 0);

  transform-origin: top;

  transition: transform 1s ease;

  z-index: 3;

}

.letter {

  position: absolute;

  inset: 0;

  padding: 20px;

  background: #1 E3A8A;

  opacity: 0;

  transform: translateY(40px);

  transition: all 1s ease;

  z-index: 1;

}

.letter h2 {

  text-align: center;

  color: #b8004c;

}

.signature {

  text-align: right;

  margin-top: 20px;

  font-style: italic;

}

.open-btn {

  position: absolute;

  bottom: 15px;

  left: 50%;

  transform: translateX(-50%);

  background: #A9D6E5;

  border: none;

  color: black;

  padding: 10px 22px;

  border-radius: 20px;

  cursor: pointer;

  z-index: 4;

}

.open-btn:hover {

  background: #A9D6E5;

}
.back-arrow {

  position: absolute;

  top: 10px;

  left: 12px;

  font-size: 1.4rem;

  cursor: pointer;

  color: #b8004c;

  user-select: none;

}

.back-arrow:hover {

  transform: scale(1.2);

}